.Dashboard {
  display: grid;
}

.Dashboard header {
  display: grid;
  place-content: center;

  background-color: red;
  color: var(--white);
}

.Dashboard header img {
  width: 100px;
}

.Dashboard > button {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--red);

  padding: 12px 64px;

  color: var(--white);

  font-weight: bold;

  border: none;
  border-radius: 50rem;

  transition: scale 0.2s;
}

.Dashboard ul {
  display: grid;

  border: 1px solid var(--light);
  border-radius: 16px;

  margin: 16px;
}

.Dashboard ul li {
  border-bottom: 1px solid var(--light);
}

.Dashboard ul li button {
  padding: 16px;

  width: 100%;

  background: none;

  text-align: left;

  font-weight: bold;
}

.Dashboard ul li:last-child {
  border-bottom: none;
}
