.Dashboard header {
  display: grid;
  place-content: center;

  background-color: var(--yellow);
  color: var(--white);
}

.Dashboard h1 {
  color: var(--white);
}

.Dashboard header img {
  width: 100px;
}

.Dashboard > button {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--red);

  padding: 12px 64px;

  color: var(--white);

  font-weight: bold;

  border: none;
  border-radius: 50rem;

  transition: scale 0.2s;
}

.Dashboard main h2 {
  margin: 16px 0;
}

.Dashboard main {
  padding: 16px 16px 120px 16px;

  display: grid;
  gap: 8px;
}
