.RegistrationPage {
  min-height: 100vh;
}

.Error {
  color: var(--red);
}

.RegistrationPageAccessChecker {
  display: grid;
  place-items: center;

  padding: 64px 32px;
}

.RegistrationPageAccessChecker .PageHeading {
  display: grid;
  place-items: center;

  gap: 16px;
}

.RegistrationPageAccessChecker form input {
  width: 200px;
  margin: 0 auto;

  font-size: 16px;

  text-align: center;

  padding: 16px;
}

.RegistrationPageAccessChecker form button {
  margin: 32px auto;
}

.RegistrationPage main {
  display: grid;
  gap: 16px;
}

.RegistrationPage main > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.PageHeading {
  display: grid;
  gap: 48px;

  background-color: var(--dark);

  padding: 48px 24px;
}

.PageHeading h1 {
  color: var(--light);
}

.PageHeading p {
  color: var(--orange);
}

.PageHeadingGroup {
  border: 8px solid var(--dark-1);
  border-radius: 16px;
}

.PageHeadingListHeading {
  color: var(--light);

  text-align: left;

  font-weight: bold;
  font-size: 20px;

  padding: 16px;
}

.PageHeadingSearch {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 16px;

  padding: 0 16px 16px;
}

.PageHeadingSearch img {
  padding: 12px 0;
}

.PageHeadingSearch input {
  border-radius: 8px;
  outline: none;

  font-size: 15px;

  padding: 12px;
}

.PageHeading ul {
  border-radius: 8px;

  max-height: 300px;
  overflow-y: auto;

  text-align: left;

  border-top: 1px solid var(--dark-1);
}

.PageHeading ul li {
  padding: 16px;
  border-bottom: 1px solid var(--dark-1);

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 8px;
  align-items: center;

  color: var(--light);
  font-weight: 600;
}

.PageHeading ul li button {
  border: none;
  border-radius: 8px;

  background-color: var(--light);
  color: var(--dark);

  padding: 8px 24px;

  font-weight: 600;
}

.PageHeading ul li:last-child {
  border-bottom: none;
}

.FormContainer {
  display: grid;
  gap: 8px;
}

.FormContainer h2 {
  text-align: center;

  font-weight: 500;
}

.FormContainer > h2 {
  margin-top: 32px;

  font-weight: bold;

  color: var(--white);
}

.FormContainer > p {
  margin-bottom: 32px;

  font-size: 18px;
  text-align: center;

  color: var(--orange);
}

.FormContainer form {
  display: grid;
  gap: 24px;

  margin: 16px 0;

  border-radius: 16px;

  padding: 16px;
}

.FormContainer form label {
  display: grid;
  gap: 16px;

  font-weight: bold;

  color: var(--light);
}

.FormContainer form label div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  width: 100%;

  margin: 8px 0;
}

.FormContainer form input,
.FormContainer form select {
  border-radius: 8px;
}

.Loader {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;

  display: grid;
  place-content: center;

  background-color: var(--orange-overlay);
}

.Spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background:
    radial-gradient(farthest-side, var(--orange) 95%,#0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 5px), var(--orange) calc(100% - 4px)) content-box;
  animation: l6 2s infinite ;

}

@keyframes l6 {to{transform: rotate(1turn)}}
