.Registered {
  height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;

  text-align: center;

  padding: 16px;

  color: var(--white);
}

.Registered img {
  width: 100px;
  height: 100px;
}

.Attribution {
  display: grid;
  grid-auto-flow: column;
  gap: 2px;
  color: var(--gray);
  font-size: 8px;

  margin: 8px 0;
}

.Attribution a {
  color: var(--gray);
  font-weight: 600;
}
