.Home {
  height: 100vh;
  display: grid;
  place-items: center;
}

.HomeLinks {
  display: grid;
  justify-items: center;
  gap: 8px;

  width: 80%;

  padding: 16px;
}

.HomeLinks a {
  padding: 12px 64px;

  width: 200px;

  margin: 0 auto;

  background: var(--dark);
  color: var(--light);

  font-weight: bold;
  font-size: 14px;

  border: 2px solid var(--dark-1);
  border-radius: 8px;

  text-align: center;
}
